<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Produccion PS COVER{% endblock %}</title>
        <link rel="shortcut icon" type="image/jpg" href="./image/logo.jpg" />
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="./javaScript/borrarRegistro.js"></script>
            <script src="./javaScript/fechaHora.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>

        {% endblock %}
    </head>

        {% block header %}
    <header>
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
            <div class="container-fluid content-align align-middle">
                <div class="container text-center ">
                    <a class="navbar-brand" href="{{ path('resumen')}}">
                        
                        <i class="fas fa-chalkboard-teacher fa-2x float-left mr-2 text-muted"></i>
                        <p class="lead text-muted"><span>Control de Producción</span> </p>

                    </a>
                </div>
                      
                <div class="container text-center ">
                 {% if is_granted('ROLE_ADMIN') %}
                    <p class="lead text-muted">Usuario: <span>{{ app.user.username }} (Administrador)</span> </p>
                    {% elseif is_granted('ROLE_USER') %}
                    <p class="lead text-muted">Usuario: <span>{{ app.user.username }}</span> </p>
                 {% endif %}
                </div>
                
                {# FORMULARIO DONDE MUESTRO LA FECHA Y LA HORA ACTUALES #}
                <div class="container text-center ">
                    <form name="form_reloj">
                        <p class="lead text-muted">Fecha/Hora: <input class="lead text-muted border-0 bg-light" type="text" name="reloj" size="16" disabled> </p>
                    </form>
                </div>                  
            </div>
        </nav>


         <script> mueveReloj();</script>
        <!-- Navbar -->

        {% endblock %}
    </header>

    <body>

        <!-- Body -->

        {% block body %}
     
                
        {% endblock %}

        <!-- Body -->

    </body>

        {% block footer %}

        <!-- Footer -->
        
        <footer class="bg-light text-center text-lg-start w-100 float-left">
            <div class="text-center p-3 ">

                <i class="fas fa-chalkboard-teacher fa-2x text-muted"></i>
                <a class="text-dark mr-2 ml-2" href="{{ path('resumen')}}">Control de Producción</a>&copy 2020-2021 Copyright:
                <a class="btn btn-success btn-sm" href="{{ path('logout') }}"><i class="fas fa-power-off"></i> Cerrar Sesión</a>
            </div>
        </footer>
        
        <!-- Footer -->

        {% endblock %}

  

</html>
