{% extends 'base.html.twig' %}

{% block title %}Resumen{% endblock %}

{% block body %}

  <main role="main">

      <section class="jumbotron p-1 text-center">
        <div class="container">
          <h2 class="jumbotron-heading">Lista Ordenes</h2>
          <p class="lead text-muted">Buscar ordenes de producción</p>
         </div>
      </section>
      
     <div class="container">
           
            {{ form_start(formProduccion) }}  

             <div class="float-left col-md-3">
                {{form_row(formProduccion.Finalizado)}}
              </div>
              
              <div class="float-left col-md-3">
                {{form_row(formProduccion.FechaInicio)}}
              </div>

              <div class="float-left col-md-3">
                {{form_row(formProduccion.FechaFinal)}}
              </div>

                <div class="float-left col-md-3">
                  <div class='container p-4 mt-2'>
                     {{form_row(formProduccion.save)}}
                </div>
               </div>

            {{ form_widget(formProduccion) }} 
            {{ form_end(formProduccion) }}
            
        {% if produccion %}

          <table class="table table-responsive w-100 table-hover text-center">
         
          <thead class="bg-info">
            <tr>
              <th scope="col">ID        </th>
              <th scope="col">Fecha     </th>
              <th scope="col">Cliente   </th>
              <th scope="col">Ref       </th>
              <th scope="col">Mecánica  </th>
              <th scope="col">Láminas   </th>
              <th scope="col">Embalaje  </th>
              <th scope="col">Transporte</th>
              <th scope="col">Finalizado</th>
              <th scope="col">Ver       </th>
              <th scope="col">Editar    </th>
              <th scope="col">Borrar    </th>
            </tr>
          </thead>
           {% for ord in produccion %}
              <tbody>
                <tr>
                  <th scope='row'>{{ord.id}}</td>
                    <td>{{ ord.fechaCreacion | date('d/m/y')}}</td>
                    <td>{{ ord.idCliente}}</td>
                    <td>{{ ord.referencia }}</td>

                    <td>
                       {% if ord.mecanica == '' %} 
                            <p class="btn-light">-</p>
                        {% elseif ord.fechaFinMecanica %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioMecanica %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.mecanica %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                      <td>
                        {% if ord.laminas == '' %} 
                            <p class="btn-light">-</p>
                        {% elseif ord.fechaFinLaminas %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioLaminas %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.laminas %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>

                      <td>
                        {% if ord.embalaje == '' %} 
                            <p class="btn-light">-</p>
                        {% elseif ord.fechaFinembalaje %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioembalaje %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.embalaje %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                      <td>
                        {% if ord.transporte == '' %} 
                            <p class="btn-light">-</p>
                        {% elseif ord.fechaFintransporte %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaIniciotransporte %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.transporte %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>             

                    
                    <td>{% if(ord.fechaFin) %}  <p class="btn-success">{{ord.fechaFin | date ('d/m/y')}}</p> {% else %} <p>-</p>{% endif %}</td>
                    
                    <td><a class="btn btn-primary" href="{{ path('ver_produccion', {'id': ord.id})    }}">Ver   </a></td>
                    <td><a class="btn btn-warning" href="{{ path('editar_produccion', {'id': ord.id}) }}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{{ path('borrar_produccion',  {'id': ord.id}) }}">Borrar</a></td> 
            </tbody>
            {% endfor %}
      
        </table>
          {% else %}

          <div class="container alert alert-info mt-2 float-left col-md-12" role="alert">
                <p>No hay produccion en el criterio de búsqueda</p>
          </div>

        {% endif %}
   

          {# BOTON ATRAS #}
          <div class="container mb-5">
              <div class="nav justify-content-end float-left mr-5 pr-5 col-md-12">
                  <a class="btn btn-success mr-1"  href="{{ path('selec_cliente_produccion')}}">Crear nueva produccion</a>
                  <a class="btn btn-primary"  href="{{ path('resumen')}}" >Atrás</a>
              </div>
          </div>
      </div>
  </main>

{% endblock %}