{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Clientes</h1>
            <p class="lead text-muted">Crea, edita y borra los clientes</p>
            </div>
    </section>

   <main>
    <div class="container w-80">

       <a class="btn btn-primary ml-3"  href="{{ path('alta_clientes')}}" >Dar de alta cliente</a>

        <div class="container w-60">
        {% if clientes %}
                <table class="table table-responsive mt-1">
                    <h2 class="mt-5">Listado de Clientes</h2>
                    <thead class="bg-info">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">CP</th>
                        <th scope="col">Población</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Teléfono</th>
                        {# <th scope="col">CIF</th> #}
                        <th scope="col">e-mail</th>
                        {# <th scope="col">web</th> #}
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
       
                        </tr>
                    </thead>
                    {% for cli in clientes %}
                        <tbody>
                            <tr>
                                <th scope='row'>{{cli.id}}</td>
                                <td>{{cli.Nombre}}</td>
                                <td>{{cli.direccion}}</td>
                                <td>{{cli.cp}}</td>
                                <td>{{cli.poblacion}}</td>
                                <td>{{cli.provincia}}</td>
                                <td>{{cli.telefono}}</td>
                                {# <td>{{cli.cif}}</td> #}
                                <td>{{cli.mail}}</td>
                                {# <td>{{cli.web}}</td> #}
                                <td><a class="btn btn-warning" href="{{ path('editar_clientes', {'id': cli.id}) }}">Editar</a></td>
                                <td><a class="btn btn-danger" href="{{ path('borrar_clientes', {'id': cli.id}) }}">Borrar</a></td>
                            </tr>

                        </tbody>
                    {% endfor %}
                </table>
            </div>  

        {% else %}

        <div class="alert alert-info mt-2" role="alert">
              <p>No hay clientes</p>
        </div>

        {% endif %}


     
        {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end p-2">
                <a class="btn btn-primary"  href="{{ path('resumen')}}" >Atrás</a>
            </div>
        </div>
    </div>
<main>



</div>

{% endblock %}