{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Clientes</h1>
            <p class="lead text-muted">Crea, edita y borra los clientes</p>
            </div>
    </section>

   <main>
    <div class="container">

        <div class="container">
        {% if clientes %}
                <table class="table table-responsive mt-1">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th class="col" scope="col">Dirección</th>
                            <th class="col" scope="col">CP</th>
                            <th class="col" scope="col">Población</th>
                            <th class="col" scope="col">Provincia</th>
                            <th class="col" scope="col">Teléfono</th>
                            <th class="col" scope="col">e-mail</th>
                            <th class="col" scope="col">Editar</th>
                            <th class="col" scope="col">Borrar</th>
                        </tr>
                    </thead>
                    {% for cli in clientes %}
                        <tbody>
                            <tr>
                                <th scope='row'>{{cli.id}}</td>
                                <td>{{cli.Nombre}}</td>
                                <td>{{cli.direccion}}</td>
                                <td>{{cli.cp}}</td>
                                <td>{{cli.poblacion}}</td>
                                <td>{{cli.provincia}}</td>
                                <td>{{cli.telefono}}</td>
                                <td>{{cli.mail}}</td>
                                <td><a class="btn btn-warning" href="{{ path('editar_clientes', {'id': cli.id}) }}"><i class="far fa-edit"></i></a></td>
                                <td><a class="btn btn-danger" href="{{ path('borrar_clientes', {'id': cli.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
 
                        </tbody>
                    {% endfor %}
                </table>
            </div>  

        {% else %}

        <div class="alert alert-info mt-2" role="alert">
              <p>No hay clientes</p>
        </div>

        {% endif %}


     
        {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end p-2">
                <a class="btn btn-primary mr-2"  href="{{ path('alta_clientes')}}" ><i class="fas fa-user-plus"></i></a>
                <a class="btn btn-primary"  href="{{ path('resumen')}}" ><i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>
<main>



</div>

{% endblock %}