{% extends 'base.html.twig' %}

{% block title %}Editar Produccion{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Editar Produccion</h1>
            <p class="lead text-muted">Edita las ordenes de produccion</p>
            </div>
    </section>

<main>
    <div class="container w-60">

        {{ form_start(formulario) }} 

            <div class="float-left col-md-12">
                {{form_row(formulario.referencia)}} 
                 
            </div>

            <div class="float-right col-md-3">
                {{form_row(formulario.mecanica)}} 
                
                    <div class="alert alert-success" role="alert">
                    <p id="form_mecan"></p>
                    </div>

                    {% if (editarProduccion.mecanica) %}
                        <div class="alert alert-success" role="alert">
                        <p id="form_mecan">{{editarProduccion.mecanica}}</p>
                        <a class="btn btn-danger fas fa-window-close w-100" href="{{ path('borrar_mecanica', {'id': editarProduccion.id}) }}" ></a>
                        </div>
                    {% endif %}
            </div>

            <div class="float-left col-md-3">
                {{form_row(formulario.laminas)}} 

                    <div class="alert alert-success" role="alert">
                    <p id="form_lamin"></p>
                    </div>

                    {% if (editarProduccion.laminas) %}   
                        <div class="alert alert-success" role="alert">
                        <p id="form_mecan">{{editarProduccion.laminas}}</p>
                        <a class="btn btn-danger fas fa-window-close w-100" href="{{ path('borrar_laminas', {'id': editarProduccion.id}) }}" ></a>
                        </div>
                    {% endif %}
            </div>

            <div class="float-right col-md-3">
                {{form_row(formulario.embalaje)}} 
                  <div class="alert alert-success" role="alert">
                    <p id="form_embal"></p>
                </div>
                {% if (editarProduccion.embalaje) %}
                    <div class="alert alert-success" role="alert">
                    <p id="form_mecan">{{editarProduccion.embalaje}}</p>
                    <a class="btn btn-danger fas fa-window-close w-100" href="{{ path('borrar_embalaje', {'id': editarProduccion.id}) }}" ></a>
                    </div>
                {% endif %}
            </div>

            <div class="float-left col-md-3">
                {{form_row(formulario.transporte)}} 
                  <div class="alert alert-success" role="alert">
                    <p id="form_trans"></p>
                </div>
                {% if (editarProduccion.transporte) %}
                    <div class="alert alert-success" role="alert">
                    <p id="form_mecan">{{editarProduccion.transporte}}</p>
                    <a class="btn btn-danger fas fa-window-close w-100" href="{{ path('borrar_transporte', {'id': editarProduccion.id}) }}" ></a>
                    </div>
                {% endif %}
            </div>
            
            <div class="float-right col-md-12">
                <button class="btn btn-primary" type="submit">Enviar</button>
                <a class="float-right btn btn-primary fas fa-undo"  href="{{ path('busca_lista_ordenes')}}"></a>
            </div>

        {{ form_widget(formulario) }} 
        {{ form_end(formulario) }}
      

        <script>

            document.getElementById('form_mecanica').onchange = function () {
            console.log(this.value);
            document.getElementById('form_mecan').innerHTML = document.getElementById('form_mecanica').files[0].name;
            }
            
            document.getElementById('form_laminas').onchange = function () {
            console.log(this.value);
            document.getElementById('form_lamin').innerHTML = document.getElementById('form_laminas').files[0].name;
            }

            document.getElementById('form_embalaje').onchange = function () {
            console.log(this.value);
            document.getElementById('form_embal').innerHTML = document.getElementById('form_embalaje').files[0].name;
            }

            document.getElementById('form_transporte').onchange = function () {
            console.log(this.value);
            document.getElementById('form_trans').innerHTML = document.getElementById('form_transporte').files[0].name;
            }

        </script>

</div>


<main>

 


{% endblock %}