{% extends 'base.html.twig' %}

{% block title %}Estadísticas{% endblock %}

{% block body %}

  <main role="main">

      <section class="jumbotron p-1 text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Estadísticas</h1>
          <p class="lead text-muted">Estadísticas de producción</p>
         </div>
      </section>


      
     <div class="container">

        {{ form_start(formEstadisticas) }}  

  
              <div class="float-left col-md-3">
                {{form_row(formEstadisticas.Desde)}}
              </div>

              <div class="float-left col-md-3">
                {{form_row(formEstadisticas.Hasta)}}
              </div>

                <div class="float-left col-md-3">
                  <div class='container p-4 mt-2 '>
                     {{form_row(formEstadisticas.save)}}
                </div>
               </div>

            {{ form_widget(formEstadisticas) }} 
            {{ form_end(formEstadisticas) }}


    {# TABLA DE ESTADISTICAS #}
         
        {% if produccion %}

      <canvas class="container" id="myChart"></canvas>
      <script>
     
      var ctx = document.getElementById('myChart').getContext('2d');

      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['Pedidos', 'Tiempo medio', 'Record', 'Mecánica', 'Láminas', 'Embalaje' , 'Transporte'],

              datasets: [{
                  label: 'Gráfico estadísticas',
                  data: [{{produccion}},
                         {{tiempoTotal}},
                         {{tiempoRecord}},
                         {{tiempoMedioMecanica}},
                         {{tiempoMedioLaminas}},
                         {{tiempoMedioEmbalaje}},
                         {{tiempoMedioTransporte}}
                         ],
                         
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1

              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      </script>

       
          {% else %}

          <div class="container alert alert-info mt-2 float-left col-md-12" role="alert">
                <p>No hay produccion en el criterio de búsqueda</p>
          </div>

        {% endif %}


        {# GRAFICO #}
      
    

          {# BOTON ATRAS #}
          <div class="container mb-5 ">
              <div class="nav justify-content-end mr-5 float-right ">
                  <a class="btn btn-primary mr-3 fas fa-undo"  href="{{ path('resumen')}}" ></a>
              </div>
          </div>
      </div>
  </main>

{% endblock %}

