{% extends 'base.html.twig' %}

{% block title %}Resumen{% endblock %}

{% block body %}

  <main role="main">

      <section class="jumbotron p-1 text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Lista Ordenes</h1>
          <p class="lead text-muted">Lista de ordenes de producción</p>
         </div>
      </section>
      
 {% for message in app.flashes ('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
 
{% endfor %}

    <div class="container w-100">

      <a class="btn btn-primary mb-1"  href="{{ path('selec_cliente_prod')}}">Crear nueva produccion</a>

        <table class="table table-responsive table-hover text-center">
          <h2 class="mt-2">Listado de Producción</h2>
          <thead>
            <tr>
              <th scope="col">ID        </th>
              <th scope="col">Fecha     </th>
              <th scope="col">Cliente   </th>
              <th scope="col">Ref       </th>
              <th scope="col">Mecánica  </th>
              <th scope="col">Láminas   </th>
              <th scope="col">Embalaje  </th>
              <th scope="col">Transporte</th>
              <th scope="col">Finalizado</th>
              <th scope="col">Ver       </th>
              <th scope="col">Editar    </th>
              <th scope="col">Borrar    </th>
            </tr>
          </thead>
           {% for ord in ordenesProd %}
              <tbody>
                <tr>
                  <th scope='row'>{{ord.id}}</td>
                    <td>{{ord.fechaCreacion | date('d/m/y')}}</td>
                    <td>{{ ord.idCliente}}</td>
                    <td>{{ ord.referencia }}</td>

                    <td>
                        {% if ord.fechaFinMecanica %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioMecanica %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.mecanica %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                      <td>
                        {% if ord.fechaFinLaminas %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioLaminas %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.laminas %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>

                      <td>
                        {% if ord.fechaFinembalaje %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaInicioembalaje %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.embalaje %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                      <td>
                        {% if ord.fechaFintransporte %} 
                            <p class="btn-success">Finalizado</p>
                        {% elseif ord.fechaIniciotransporte %} 
                            <p class="btn-warning">Iniciado</p>
                        {% elseif ord.transporte %} 
                            <p class="btn-danger">No Iniciado</p>
                        {% else %}                          
                            <p>NO</p> 
                        {% endif %}
                    </td>             

                    
                    <td>{% if(ord.fechaFin) %} {{ord.fechaFin | date ('d/m/y')}}{% else %} <p>SIN FECHA</p>{% endif %}</td>
                    
                    <td><a class="btn btn-primary" href="{{ path('ver_produccion', {'id': ord.id})    }}">Ver   </a></td>
                    <td><a class="btn btn-warning" href="{{ path('editar_produccion', {'id': ord.id}) }}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{{ path('borrar_produccion',  {'id': ord.id}) }}">Borrar</a></td> 
            </tbody>
            {% endfor %}
            
        </table>

          {# BOTON ATRAS #}
          <div class="container mb-5">
              <div class="nav justify-content-end mr-5">
                  <a class="btn btn-primary mr-3"  href="{{ path('resumen')}}" >Atrás</a>
              </div>
          </div>
      </div>
  </main>

{% endblock %}