
{% block body %}

  <main role="main">

      <section class="jumbotron p-1 text-center">
        <div class="container">
          <h2 class="jumbotron-heading" style="text-align:center; background-color:#87ceeb; color:white;">Listado Producci&oacuten</h2>
         </div>
      </section>
      
     <div class="container">
            
        {% if produccion %}

          <table class="table table-responsive w-100 table-hover text-center">
         
          <thead class="bg-info">
            <tr>
              <th scope="col" style="width:200px; text-align:center;border-style:solid; background-color:CCCCCC">ID        </th>
              <th scope="col" style="width:200px; text-align:center;border-style:solid; background-color:CCCCCC">Fecha     </th>
              <th scope="col" style="width:200px; text-align:center;border-style:solid; background-color:CCCCCC">Cliente   </th>
              <th scope="col" style="width:200px; text-align:center;border-style:solid; background-color:CCCCCC">Referencia</th>
              <th scope="col" style="width:200px; text-align:center;border-style:solid; background-color:CCCCCC">Finalizado</th>
            </tr>
          </thead>
           {% for ord in produccion %}
              <tbody>
                <tr>
                  <th scope='row'>{{ord.id}}</td>
                    <td style="width:200px; text-align:center;">{{ ord.fechaCreacion | date('d/m/y')}}</td>
                    <td style="width:200px; text-align:center;">{{ ord.idCliente.nombre}}</td>
                    <td style="width:200px; text-align:center;">{{ ord.referencia }}</td>

                                       
                    <td>{% if(ord.fechaFin) %}  <p class="btn-success" style="width:200px; text-align:center;">{{ord.fechaFin | date ('d/m/y')}}</p>
                     {% else %} <p style="width:200px; text-align:center;"> NO </p>
                     {% endif %}</td>
                    
                    <td><a class="btn btn-primary" href="{{ path('ver_produccion', {'id': ord.id})    }}"><i class="far fa-eye"></i></a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                      <td><a class="btn btn-warning" href="{{ path('editar_produccion', {'id': ord.id}) }}"><i class="far fa-edit"></i></a></td>
                      <td><a class="btn btn-danger" href="{{ path('borrar_produccion',  {'id': ord.id}) }}" onclick="return borrarRegistro();"><i class="far fa-trash-alt"></i></a></td>
                    {% else %}
                       <td><a class=""><i class="fas fa-ban fa-2x"></i></a></td>
                       <td><a class="r"><i class="fas fa-ban fa-2x"></i></a></td>
                    {% endif %}
            </tbody>
            {% endfor %}
      
        </table>
        {% else %}

          <div class="container alert alert-info mt-2 float-left col-md-12" role="alert">
                <p>No hay produccion en el criterio de b&uacutesqueda</p>
          </div>

        {% endif %}
   

          {# BOTON ATRAS #}
          <div class="container mb-5">
              <div class="nav justify-content-end float-left mr-5 pr-5 col-md-12">
              {% if is_granted('ROLE_ADMIN') %}
                  <a class="btn btn-success mr-1" href="{{ path('selec_cliente_produccion')}}"><i class="fas fa-folder-plus"></i></a>
              {% endif %}
                  <a class="btn btn-primary"  href="{{ path('resumen')}}" ><i class="fas fa-undo"></i></a>  
              </div>
          </div>
      </div>
  </main>

{% endblock %}

