{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Usuarios</h1>
            <p class="lead text-muted">Dar de alta los clientes</p>
            </div>
    </section>

   <main>
    <div class="container w-60">

       <a class="btn btn-primary"  href="{{ path('alta_usuarios')}}" >Dar de alta usuarios</a>

      

            <div class="container w-60">
        {% if usuarios %}
                 <table class="table table-responsive center mt-2">
                   <h2 class="mt-5">Listado de usuarios</h2>
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">ROL</th>
                       
                        </tr>
                    </thead>
                    {% for usu in usuarios %}
                        <tbody>
                            <tr>
                                <th scope='row'>{{usu.id}}</td>
                                <td>{{usu.Nombre}}</td>
                                <td>{{usu.apellidos}}</td>
                                <td>{{usu.rol}}</td>
                                <td><a class="btn btn-warning" href="{{ path('editar_usuarios', {'id': usu.id}) }}">Editar</a></td>
                                {# <td><a class="btn btn-danger" href="{{ path('borrar_usuarios', {'id': usu.id}) }}">Borrar</a></td> #}
                            
                            </tr>

                        </tbody>
                    {% endfor %}
                </table>
            </div>  

        {% else %}

            <p>No hay Usuarios</p>
        {% endif %}


     
        {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end p-2">
                <a class="btn btn-primary"  href="{{ path('resumen')}}" >Atrás</a>
            </div>
        </div>
    </div>
<main>



</div>

{% endblock %}