{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Usuarios</h1>
            <p class="lead text-muted">Dar de alta los clientes</p>
            </div>
    </section>

   <main>
    <div class="container w-50">

        {% if usuarios %}
                <table class="table table-responsive center mt-2">
                    <thead class="bg-info">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th class="col" scope="col">Apellidos</th>
                            <th scope="col">ROL</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    {% for usu in usuarios %}
                        <tbody>
                            <tr>
                                <th scope='row'>{{usu.id}}</td>
                                <td>{{usu.Nombre}}</td>
                                <td>{{usu.apellidos}}</td>
                                <td>{{usu.rol}}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td><a class="btn btn-warning" href="{{ path('editar_usuarios', {'id': usu.id}) }}"><i class="far fa-edit"></i></a></td>
                                    <td><a class="btn btn-danger" href="{{ path('borrar_usuarios', {'id': usu.id}) }}" onclick="return borrarRegistro();"><i class="far fa-trash-alt"></i></a></td>
                                {% else %}
                                    <td><a><i class="fas fa-ban fa-2x"></i></a></td>
                                    <td><a><i class="fas fa-ban fa-2x"></i></a></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
        
        {% else %}
            <p>No hay Usuarios</p>
        {% endif %}

     
            {# BOTON ATRAS #}
            <div class="container">
                <div class="nav justify-content-end p-2">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary mr-2"  href="{{ path('alta_usuarios')}}" ><i class="fas fa-user-plus"></i></a>
                {% endif %}
                    <a class="btn btn-primary"  href="{{ path('resumen')}}" ><i class="fas fa-undo"></i></a>
                </div>
            </div>
    </div>
<main>



</div>


{% endblock %}