{% extends 'base.html.twig' %}

{% block title %}Resumen{% endblock %}

{% block body %}

  <main role="main">

      <section class="jumbotron p-1 text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Produccion Activa</h1>
          <p class="lead text-muted">Aquí procesamos el tiempo de produccion</p>
         </div>
      </section>
      

    <div class="container w-100 ">

        <div>
            <table class="table table-responsive text-center">
            <h3 class="mt-2">Cabecera datos Produccion</h3>
                <tr>
                    <th scope="col">ID        </th>
                    <th scope="col">Fecha creación     </th>
                    <th scope="col">Cliente   </th>
                    <th scope="col">Referencia   </th>
                </tr>
                {% for pr in verProduccion %}
                <tr>
                    <td scope='row'>{{pr.id}}</td>
                    <td>{{pr.fechaCreacion | date('d-m-Y')}}</td>
                    
                    <td>{{ pr.idCliente}}</td>
                    <td>{{ pr.referencia }}</td>
                </tr>
                 {% endfor %}
            </table>
        </div>


        <table class="table table-responsive p-1 text-center">
          <h3 class="mt-2">Listado de Producción</h3>
          <thead>
            <tr>
              
              <th scope="col">Mecánica  </th>
              <th scope="col">Láminas   </th>
              <th scope="col">Embalaje  </th>
              <th scope="col">Transporte</th>
           
            </tr>
          </thead>
           {% for prod in verProduccion %}
              <tbody>
                
                    
                    <td class="w-25"> {# TABLA MECANICA #}
                        {% if prod.mecanica %} 
                                <p class="container btn-success"><a class="text-white" href="{{ './archivos/pdf/' ~ prod.mecanica }}" target="_blank">Ver Documento</a></p>
                        
                            {% if prod.fechaInicioMecanica == null %} 
                            <div class="container w-60 mb-1">
                                    <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaInicioMecanica', {'id': prod.id}) }}" >Iniciar</a>
                                    <input class="text-center w-100" type="text" disabled>
                                    <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                    <a class="btn btn-success w-100 disabled"  href="#">Iniciado</a>
                                    <input class="text-center w-100" type="text" value="{{ prod.fechaInicioMecanica | date("d/m/y H:i:s")}}" disabled>
                                    
                            {% endif %}
                            </div>

                            {% if prod.fechaFinMecanica == null %} 
                                <div class="container w-60 mb-1">
                                    <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaFinMecanica', {'id': prod.id}) }}" >Finalizar</a>
                                    <input class="text-center w-100" type="text" disabled>
                                    <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                    <a class="btn btn-success w-100 disabled"  href="#">Finalizado</a>
                                    <input class="text-center w-100" type="text" value="{{ prod.fechaFinMecanica | date("d/m/y H:i:s")}}" disabled>
                                    
                                    <a class="btn btn-success mt-1 w-100 disabled text-white">Total (d/h/m)</a>
                                    <input class="text-center w-100" type="text" value="{{ prod.tiempoMecanica }}" disabled>
                                    
                            {% endif %}
                                </div>
                        {% else %} 
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                    
                    <td class="w-25"> {# TABLA LAMINAS #}
                        {% if prod.Laminas %} 
                            <p class="btn-success"><a class="text-white" href="{{ './archivos/pdf/' ~ prod.Laminas }}" target="_blank">Ver Documento</a></p>
                      
                            {% if prod.fechaInicioLaminas == null %} 
                        <div class="container w-60 mb-1">
                                <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaInicioLaminas', {'id': prod.id}) }}" >Iniciar</a>
                                <input class="text-center w-100" type="text" disabled>
                                <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                <a class="btn btn-success mr-3 w-100 disabled"  href="#">Iniciado</a>
                                <input class="text-center w-100" type="text" value="{{ prod.fechaInicioLaminas | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                              
                            {% endif %}
                        </div>

                        {% if prod.fechaFinLaminas == null %} 
                          <div class="container w-60 mb-1">
                                <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaFinLaminas', {'id': prod.id}) }}" >Finalizar</a>
                                <input class="text-center w-100" type="text" disabled>
                                <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                <a class="btn btn-success mr-3 w-100 disabled"  href="#">Finalizado</a>
                                <input class="text-center w-100" type="text" value="{{ prod.fechaFinLaminas | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                               
 
                                <a class="btn btn-success mt-1 w-100 disabled text-white">Total (d/h/m)</a>
                                <input class="text-center w-100" type="text" value="{{ prod.tiempoLaminas }}" disabled>
                               
                            {% endif %}
                        </div>
                        {% else %} 
                            <p>NO</p> 
                        {% endif %}
                    </td>



                    <td class="w-25"> {# TABLA EMBALAJE #}
                        {% if prod.Embalaje %} 
                            <p class="btn-success"><a class="text-white" href="{{ './archivos/pdf/' ~ prod.Embalaje }}" target="_blank">Ver Documento</a></p>
                      
                            {% if prod.fechaInicioEmbalaje == null %} 
                        <div class="container w-60 mb-1">
                                <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaInicioEmbalaje', {'id': prod.id}) }}" >Iniciar</a>
                                <input class="text-center w-100" type="text" disabled>
                                <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                <a class="btn btn-success mr-3 w-100 disabled"  href="#">Iniciado</a>
                                <input class="text-center w-100" type="text" value="{{ prod.fechaInicioEmbalaje | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                              
                            {% endif %}
                        </div>

                        {% if prod.fechaFinEmbalaje == null %} 
                          <div class="container w-60 mb-1">
                                <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaFinEmbalaje', {'id': prod.id}) }}" >Finalizar</a>
                                <input class="text-center w-100" type="text" disabled>
                                <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                <a class="btn btn-success mr-3 w-100 disabled"  href="#">Finalizado</a>
                                <input class="text-center w-100" type="text" value="{{ prod.fechaFinEmbalaje | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                                

                                <a class="btn btn-success mt-1 w-100 disabled text-white">Total (d/h/m)</a>
                                <input class="text-center w-100" type="text" value="{{ prod.tiempoEmbalaje }}" disabled>
                                
                            {% endif %}
                        </div>
                        {% else %} 
                            <p>NO</p> 
                        {% endif %}
                    </td>
                    
                    <td class="w-25"> {# TABLA TRANSPORTE #}
                        {% if prod.Transporte %} 
                            <p class="btn-success"><a class="text-white" href="{{ './archivos/pdf/' ~ prod.Transporte }}" target="_blank">Ver Documento</a></p>
                      
                                {% if prod.fechaInicioTransporte == null %} 
                        <div class="container w-60 mb-1">
                                    <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaInicioTransporte', {'id': prod.id}) }}" >Iniciar</a>
                                    <input class="text-center w-100" type="text" disabled>
                                    <input class="text-center w-100" type="text"  disabled>
                                {% else %} 
                                    <a class="btn btn-success mr-3 w-100 disabled"  href="#">Iniciado</a>
                                    <input class="text-center w-100" type="text" value="{{ prod.fechaInicioTransporte | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                                    
                                {% endif %}
                        </div>

                            {% if prod.fechaFinTransporte == null %} 
                        <div class="container w-60 mb-1">
                                    <a class="btn btn-primary mr-3 w-100"  href="{{ path('fechaFinTransporte', {'id': prod.id}) }}" >Finalizar</a>
                                    <input class="text-center w-100" type="text" disabled>
                                    <input class="text-center w-100" type="text"  disabled>
                            {% else %} 
                                <a class="btn btn-success mr-3 w-100 disabled"  href="#">Finalizado</a>
                                <input class="text-center w-100" type="text" value="{{ prod.fechaFinTransporte | date("d/m/y H:i:s",'Europe/Paris')}}" disabled>
                                

                               <a class="btn btn-success mt-1 w-100 disabled text-white">Total (d/h/m)</a>
                                <input class="text-center w-100" type="text" value="{{ prod.tiempoTransporte }}" disabled>
                                
                            {% endif %}
                        </div>
                        {% else %} 
                            <p>NO</p> 
                        {% endif %}
                    </td>         
                </tbody>
            {% endfor %}
        </table>

            {# BOTON DE GRABAR LA FINALIZACION DE PRODUCCION #}
            {% for produccion in verProduccion %}
       
            <div class="container ">
                <a class="btn btn-primary mr-3 float-left"  href="{{ path('finProduccion', {'id': produccion.id}) }}" >Finalizacion produccion</a>
                <a class="btn btn-success mt-1 w-100 text-white disabled">Total produccion</a>
                <input class="text-center w-100 mb-1" type="text" value="{{ produccion.tiempoTotal }} Horas" disabled>
            {% endfor %}

                {# BOTON ATRAS #}
                <div class="float-right">
                    <a class="btn btn-primary"  href="{{ path('lista_ordenes')}}" >Atrás</a>
                </div>
            </div>
      </div>
  </main>

{% endblock %}